  // General Styles
  * {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: 'Barlow', sans-serif;
    color: rgb(59, 57, 57);
  }
  
  h1 {
    font-size: 5vw;
    font-family: 'Indie Flower', cursive;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  
  h3 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 2vw;
    line-height: 1.4;
  }

  .container {
    max-width: 70%;
    width: 100%;
    margin: 0 auto; 
  }
 