.nav-bar {
   border: 1px solid blue;
   margin-top: 1.5%;
    
   nav {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   a {
      font-size: 1.6rem;
   }
}

