.home {
   margin-top: 5%;

   header {
      h1 {
         border: 1px solid red;
   
         div {
            border: 1px solid green;
            padding-left: 6%;
            margin-top:2%;
         }
      }

      img {
         border: 1px solid green;
         width: 65%;
         margin: 10% 0 15% 35%;
      }
   } 

   section {
      h1 {
         text-align: center;
         margin-bottom: 15%;
      }

      .i_am
   }
}